.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
*.log
dist/
